html { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

*{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    border: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}