// Fonts
$font_logo : 'Oswald';
$font_description : 'Open Sans', sans-serif;
$font_title : 'Playfair Display';
$font_highlight : 'Pacifico';

// Colors
$color_primary_1 : #3D4A86; 
$color_primary_2 : #EE9A17; 
$color_complementary_1 : #42A6DB;
$color_complementary_2 : #EEDA3B; 
$color_text : #667788; 