@mixin placeholder-color($color) {
    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder { color: $color; }

    /* Firefox 19+ */
    &::-moz-placeholder { color: $color; }

    /* IE 10+ */
    &:-ms-input-placeholder { color: $color; }

    /* Firefox 18- */
    &:-moz-placeholder { color: $color; }   
}

// How to use
// @include placeholder-color(#abeafe);  