// header
// ----------
.header {
  position: fixed;
  top: 0;
  z-index: 9;  

  padding: 8.5px 0;
  width: 100%;  
  
  background-color: $color_primary_1;
  transition: .3s;

  @media(min-width: 1200px) {
    padding: 18.25px 0;
    background-color: transparent;
    border-bottom: .5px solid rgba(255, 255, 255, .5);
  }

  &.fixed {
    background-color: $color_primary_1;    
  }
}