// menu mobile
.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @media(min-width: 1199px) {
    display: none;
  }
  
  li {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    a {
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;

      &:hover {
        color: $color_primary_2;
      }
    }
  }
}