// menu desktop
.menu {
  display: none;

  @media(min-width: 1200px) {
    display: flex;
  }
  
  li {
    margin-left: 60px;

    &:first-child {
      margin-left: 0;
    }

    &.active a{
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: $color_primary_2;
      }
    }

    a {
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;

      &:hover {
        color: $color_primary_2;
      }
    }
  }
}