// navbar desktop
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// logo
.logo {
  font-family: $font_logo;
  font-size: 2.4rem;
  color: #fff;
  text-transform: uppercase;

  span {
    color: $color_primary_2;
  }
}